.container{
    width: 1300px;
    margin: 0 auto;
}

.header{
    background-color: #141414;
}

.header-navigation{
    padding: 25px 0;
}

.header-list{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.header-link{
    color: white;
    text-decoration: none;
}

.header-item:not(:last-child){
    margin-right: 37px;
}
.header-slider{
    width: 70%;
}
.header-slider-thumb,
.header-social,
.header-slider-img{
    width: 100%;
}

.header-slider-img{
    display: block;
}

.header-social{
    background-color: white;
}

.header-reletive{
    position: relative;
}
.header-logo{
    position: absolute;
    display: inline-block;
    background-color: #99823D;
    padding: 30px 40px;
    top: 0;
    left: 0
}
.header-vision{
    background-color: white;
    padding: 68px;
    width: 584px;
    position: absolute;
    top: 170px;
    right: 120px;
}

.header-social {
    display: flex;
    list-style: none;
    padding: 20px 0;
}
.header-social-item {
}
.header-social-link {
    color: #141414;
    text-decoration: none;
}

.header-social-item:not(:last-child){
    margin-right: 37px;
}