
.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 65px;

    .gallery-item {
        flex-basis: calc((100% - 65px) / 2);
        margin-bottom: 65px;

        img {
            width: 100%;
            margin-bottom: 62px;
        }

        .gallery-title {
            margin: 36px 0;
        }
    }
}
