.footer {
    padding: 50 0;
    margin-top: 83px;
    text-align: center;
}
.social-networks {
}
.social-networks-items {
    &:not(:last-child) {
        margin-right: 35px;
    }
}
.footer_copyright {
    margin-top: 26px;
}