@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
   font-family: "Montserrat", sans-serif;
}
.container {
    padding: 0 20px;
}

@import 'untils/mixin';
@import 'untils/placeholder';
@import 'components/header';
@import 'components/partner';

/* Стилі для малих екранів (телефони в альбомній оріентації, дисплей 576рх і більше) */

@media (min-width:576px) { 
    .share__title{
        padding: 0 90px;
    }
    .share__btn,
    .partners__btn{
        width: auto;
        padding: 10px 20px;
    }
    .partner__title{
        padding: 0 100px;
    }
    .partner_desc{
        padding: 0 150px;
    }
}

/* mobile menu */
@media (max-width: 768px) {
    
    label {
      display: block;
      height: 30px;
      width: 30px;
      margin-left: auto;
      position: relative;
      z-index: 10;
    }
    label:hover {
      cursor: pointer;
    }
    label span {
      top: 15px;
    }
    label span,
    label span::before,
    label span::after {
      content: '';
      display: block;
      width: 25px;
      height: 2px;
      background: #333;
      position: absolute;
      right: 0;
      transition: .3s;
    }
    label span::before {
      top: -8px;
    }
    label span::after {
      top: 8px;
    }
    .navigation__menu {
      display: none;
    }
    input[type="checkbox"]:checked ~ .navigation__menu{
      display: flex;
      flex-direction: column;
    }
    input[type="checkbox"]:checked ~ label span {
      transform: rotate(-45deg);
    }
    input[type="checkbox"]:checked ~ label span::before {
      top: 0;
      transform: rotate(0);
    }
    input[type="checkbox"]:checked ~ label span::after {
      top: 0;
      transform: rotate(90deg);
    }
    .navigation__menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px;
      background: #fff;
      margin: 0;
      padding: 0;
      box-shadow: 0 12px 8px #ececec;
    }
    .navigation__menu li {
      margin: 15px 0;
    }
    .navigation__btn{
      color: black!important;
    }
  }

/* Стилі для середніх екранів (планшети, дисплей 768рх і більше) */

@media (min-width: 768px) { 
    .container{
        padding: 0;
        width: 470px;
        margin: 0 auto;
    }
    .share__logo{
        display: none;
    }
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navigation__logo{
        display: inline;
        font-size: 20px;
        color: white;
    }
    .partner_desc,
    .partner__title{
        padding: 0;
    }
    .share__title{
        padding: 0 50px;
        font-size: 52px;
        margin-bottom: 15px;
    }
    .share_desc{
        font-size: 24px;
    }
    .share{
        padding-top: 126px;
    }
    .partner__list{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
    .partner__item{
        flex-basis: calc((100% - 50px)/2);
    }
    .header__container{
        width: 670px;
    }
    
}

/* Стилі для великих екранів (ПК, дисплей 992рх і більше) */

@media (min-width: 992px) { 
    .container{
        width: 914px;
    }
    .partner__list{
        gap: 25px;
    }
    .partner__item{
        flex-basis: calc((100% - 75px)/4);
    }
}

/* Стилі для дуже великих екранів (ПК з великим монітором, дисплей 1200рх і більше) */

@media (min-width: 1200px) { 

}

