.list{
    padding: 0;
    list-style: none;
    border: 1px solid black;
    display: flex;
    height: 500px;
}

.item{
    padding: 5px;
    background-color: red;
    width: 20px;
    margin: 5px;
}

.link{
    color: white
}

.logo{
    text-transform: uppercase;
}

.list-wrap{
    border: 1px solid red;
    display: flex;
    align-items: center;
}

.list2{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
}