@mixin log-btn($border){
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    border: $border;
    border-radius: 70px;
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
}

@mixin main-btn($background, $color){
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
    border: 2px solid #FF4E50;
    background-color: $background;
    color: $color;
    border-radius: 70px;
}
